{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" >
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
            background-color: #eeeeee;
        }

        .h7 {
            font-size: 0.8rem;


 color:#ffffff;

        }

        .gedf-wrapper {
            margin-top: 0.97rem;
        }

        @media (min-width: 992px) {
            .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }
        }

        /**Reset Bootstrap*/
        .dropdown-toggle::after {
            content: none;
            display: none;
        }
    .navbar-img
{
width:30px;
height:35px;
float:left;
background-size:auto 100%;
margin-top:-10px;
margin-right:15px;
}
img.a {
  width: 200px;
  height: 400px;
  object-fit: cover;
}
.scrollbar-deep-purple::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #512da8; }
p.b {
  font-family: Arial, Helvetica, sans-serif;
}
.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'blog/style.css'%}" >
<body>
<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-50px";
  }
  prevScrollpos = currentScrollPos;
}
</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="{% url 'post_list' %}">EduHub</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='q'>
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </ul>

     <ul class="nav navbar-nav navbar-right">
    {% if request.user.is_authenticated %}

     <li class="dropdown">
      <a class="dropdown-toggle " href="#"  role="button" data-toggle="dropdown">

          <img src="/media/sagar123.png" alt="" class="navbar-img">

     <span>Hi {{ request.user|capfirst }}</span>
      <b class="caret"></b></a>
      <ul class="dropdown-menu" >


         <li> <a  href="{% url 'blog:post_create' %}">Create Post</a></li>
               <li> <a  href="{% url 'blog:contact' %}">Report/FeedBack</a></li>

           <li> <a  href="{% url 'user_logout' %}">Sign out</a></li>

      </ul>
    </li>
     </ul>
    {% else %}
    <li class="nav-item">
      <a href="{% url 'user_login' %}" class="nav-link">Login</a>
    </li>
    {% endif %}
  </ul>
</div>
</nav>










<div class="container-fluid gedf-wrapper">





                </div>

            </div>
                    </div>

            </div>



       <div class="col-md-8 gedf-main">
                {% for p in post%}
                <div class="card gedf-card">
                    <div class="card-header  bg-dark">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">

                                </div>
                                <div class="ml-2">
                                    <div class="h4 ">{{p.author|capfirst}}</div>
                                    <!--div class="h7 text-muted">Miracles Lee Cross</div-->
                                      <div class="h7"> Published  {{p.created|timesince}} ago</div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="card-body">

                        <a class="card-link" href="{{ p.get_absolute_url }}">
                            <h1>{{p.title|capfirst}}</h1>
                        </a>
                          <hr>

                        <p class="b">
                            {{p.body}}
                        </p>
                         {% if p.image %}
                        <br>
                        <hr>

          <img src='{{p.image.url}}' class="card-img-top">

          {% endif %}

                    </div>

                </div>
                 {% empty %}
        <div class="container-fluid">
        <h3>No Posts Found </h3>
      </div>
                {% endfor %}




            </div>
            <br>
            <br>



            <div class="col-md-3">

                <div class="card gedf-card" >

                     <div class="card example-1 scrollbar-deep-purple bordered-deep-purple thin">


                    <div class="card-body">
                                <table class="table">

  <thead>
    <tr>

      <th scope="col">Recent Post</th>
    </tr>
  </thead>
  <tbody>
   {% for p in post%}
    <tr >

       <td><a class="card-link" href="{{ p.get_absolute_url }}"><b>{{p.title}}</b></a>
     </td>

    </tr>
  {% endfor %}

  </tbody>
</table>


                </div>

            </div>
                    </div>

            </div>
<div class="col-md-3">

                <div class="card gedf-card" >

                     <div class="card example-1 scrollbar-deep-purple bordered-deep-purple thin">


                    <div class="card-body">
                                <table class="table">

  <thead>
    <tr>

      <th scope="col">Recent Users</th>
    </tr>
  </thead>
  <tbody>
   {% for u in users%}
    <tr >

       <td><a class="card-link" href="{{ p.get_absolute_url }}"><b>{{u.username}}</b></a>
     </td>

    </tr>
  {% endfor %}

  </tbody>
</table>
        </div>
    </div>
   </body>
